<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      PUSH APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="mensajes.length > 0">
    <ion-list>
      <ion-list-header>
        <ion-label>Notificaciones Push</ion-label>
      </ion-list-header>
  
      
      <ion-item *ngFor="let push of mensajes">
        <ion-label>
          <h3>{{ push.title }}</h3>
          <p>{{ push.body }}</p>
          <p>
            {{ push.additionalData | json }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  

</ion-content>